Integrate telegram Bot.json
{
  "name": "Integrate telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        0
      ],
      "id": "d5441761-9edd-422e-9500-e80afa838b78",
      "name": "Telegram Trigger",
      "webhookId": "7da0788b-8d5c-41d9-abe0-a717cbc69e0a",
      "credentials": {
        "telegramApi": {
          "id": "CI0G3hkPn4XbtoY2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        0
      ],
      "id": "ace0df50-37a6-48c5-86a0-a11909de09d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        24,
        224
      ],
      "id": "acb119f2-14a2-405f-a8e5-24c6e1cfa1b7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SpMy6wAsRxSP3KnW",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        152,
        224
      ],
      "id": "7af7c6ba-50c1-4eb9-91d5-f8bba60fe8d6",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        0
      ],
      "id": "251b8d2c-587c-4d29-99d3-77ff4fa73728",
      "name": "Send a text message",
      "webhookId": "e4ea0368-6bac-407b-b055-865c50881a70",
      "credentials": {
        "telegramApi": {
          "id": "CI0G3hkPn4XbtoY2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        352
      ],
      "id": "760d41ab-478c-4190-afb2-d1402e872595",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e885a97f-c2e6-4487-877d-6ed2475ef4a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa0894fbbdf2bb10061a3b1442a6543f6be9f819a294772c2cb9471b450cc467"
  },
  "id": "ldYHO4hlZgh1g0tw",
  "tags": []
}